{% extends "spell/layout.html" %}
{% load static %}

{% block title %}SpellNOW! -- Contact{% endblock %}

{% block function %}
<main id="main" class="main">

  <div class="pagetitle">
    <h1>Contact</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item">Pages</li>
        <li class="breadcrumb-item active">Contact</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section contact">

    <div class="row gy-4">

      <div class="col-xl-6">
        <div class="row">
          <div class="col-lg-6">
            <div class="info-box card">
              <i class="bi bi-envelope"></i>
              <h3>Email Us</h3>
              <p><a href="mailto:support@spellnow.org">support@spellnow.org</a></p>
            </div>
          </div>
          <!-- Start of HubSpot Embed Code -->
          <script type="text/javascript" id="hs-script-loader" async defer src="//js-na1.hs-scripts.com/23679848.js"></script>
          <!-- End of HubSpot Embed Code -->
        </div>
      </div>
    </div>

  </section>

</main><!-- End #main -->
{% endblock %}