{% extends "spell/layout.html" %}
{% load static %}

{% block title %}SpellNOW!&trade; -- Error{% endblock %}

{% block function %}
  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Spelling Activity</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item">Libraries</li>
          <li class="breadcrumb-item active">Import</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    
    <section class="section">
        {% if error %}
            <div class="row">
                <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                    <h5 class="card-title">Import Error</h5>
                    {% if already %}
                        <p>{{ message2|safe }}</p>
                        <ul>
                            {% for word in already %}
                                <li>{{ word }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    </div>
                </div>
                </div>
            </div>
        {% endif %}
      <div class="row">
        <div class="col-lg-6" style="width:25%;">
            <div class="card overflow-auto" style="height: 600px;">
                <div class="card-body">
                <h5 class="card-title">Custom Words</h5>
                <p>Populate data regarding each word as well as the MP3 pronunciation of each word.</p>


                <!-- Default Table -->
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Words</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for word in words %}
                        <tr>
                        <td id="new_word-{{ word }}" onclick="call_tag('{{ word }}')" class="result">{{ word }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <!-- End Default Table Example -->
                </div>
            </div>
        </div>
        <div class="col-lg-6" style="width:75%;">
            <form action="/upload_sounds" enctype="multipart/form-data" method="post">
                {% csrf_token %}
                {% for word in words %}
                <div id="wordthing-{{ word }}" style="display: none;" class="card result_card">
                    <div class="card-header">{{ word }}</div>
                    <div class="card-body">
                        <br>
                        <input required class="form-control" placeholder="Part of Speech..." type="text" id="speech-{{ word }}" name="speech-{{ word }}"><br>
                        <input required class="form-control" placeholder="Language of Origin..." type="text" id="origin-{{ word }}" name="origin-{{ word }}"><br>
                        <input required class="form-control" placeholder="Definition..." type="text" id="definition-{{ word }}" name="definition-{{ word }}"><br>
                        <p>Sound File (MP3)</p>
                        <input required accept=".mp3" type="file" id="file-{{ word }}" name="file-{{ word }}" class="form-control">
                    </div>
                </div>
                {% endfor %}
                <div class="d-grid gap-2 mt-3">
                    <button class="btn btn-primary" type="submit"><b>Create Words</b></button>
                </div>
            </form>
        </div>
      </div>
    </section>
  </main><!-- End #main -->
  <script>
    function call_tag(word) {
      const nodeList = document.querySelectorAll(".result");
      for (let i = 0; i < nodeList.length; i++) {
          nodeList[i].style.backgroundColor = "rgb(255, 255, 255)";
      }
      document.getElementById("new_word-"+word).style.backgroundColor = "rgb(195, 195, 195)"

      const funList = document.querySelectorAll(".result_card");
      for (let i = 0; i < nodeList.length; i++) {
        funList[i].style.display = "none";
      }
      document.getElementById("wordthing-"+word).style.display = "block";
    }
  </script>
  <style>
    .result:hover{
      background-color: #c3c3c3;
      cursor: pointer;
    }
    .addrem:hover {
      opacity: 50%;
      cursor: pointer;
    }
  </style>
{% endblock %}