{% extends "spell/layout.html" %}
{% load static %}

{% block title %}SpellNOW!&trade; -- Dashboard{% endblock %}

{% block function %}
  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
          <div class="row">

            <!-- Sales Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card sales-card">

                <div class="card-body">
                  <h5 class="card-title">Words <span>| Today</span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-bar-chart-line-fill"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{ totalwords }}</h6>
                      {% if wordsperc != 0 %}
                        {% if wordsconc == "increase" %}
                          <span class="text-success small pt-1 fw-bold">{{ wordsperc }}%</span> <span class="text-muted small pt-2 ps-1">{{ wordsconc }} from yesterday</span>
                        {% else %}
                          <span class="text-danger small pt-1 fw-bold">{{ wordsperc }}%</span> <span class="text-muted small pt-2 ps-1">{{ wordsconc }} from yesterday</span>
                        {% endif %}
                      {% endif %}

                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Sales Card -->

            <!-- Revenue Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card revenue-card">
                <div class="card-body">
                  <h5 class="card-title">Correct <span>| Today</span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-check-all"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{ correctwords }}</h6>
                      {% if corrsperc != 0 %}
                        {% if corrsconc == "increase" %}
                          <span class="text-success small pt-1 fw-bold">{{ corrsperc }}%</span> <span class="text-muted small pt-2 ps-1">{{ corrsconc }} from yesterday</span>
                        {% else %}
                          <span class="text-danger small pt-1 fw-bold">{{ corrsperc }}%</span> <span class="text-muted small pt-2 ps-1">{{ corrsconc }} from yesterday</span>
                        {% endif %}
                      {% endif %}

                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Revenue Card -->

            <!-- Customers Card -->
            <div class="col-xxl-4 col-xl-12">

              <div class="card info-card customers-card">

                <div class="card-body">
                  <h5 class="card-title">Identifiers Practiced <span>| Today</span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-tags"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{ tagcount }}</h6>
                      {% if tagsperc != 0 %}
                        {% if tagsconc == "increase" %}
                          <span class="text-success small pt-1 fw-bold">{{ tagsperc }}%</span> <span class="text-muted small pt-2 ps-1">{{ tagsconc }} from yesterday</span>
                        {% else %}
                          <span class="text-danger small pt-1 fw-bold">{{ tagsperc }}%</span> <span class="text-muted small pt-2 ps-1">{{ tagsconc }} from yesterday</span>
                        {% endif %}
                      {% endif %}

                    </div>
                  </div>

                </div>
              </div>

            </div><!-- End Customers Card -->

            <!-- Top Selling -->
            <div class="col-12">
              <div class="card top-selling overflow-auto">

                <div class="card-body pb-0">
                  <h5 class="card-title">Most Incorrect Identifiers <span>| Today</span></h5>

                  <table class="table table-borderless">
                    <thead>
                      <tr>
                        <th scope="col">Identifier</th>
                        <th scope="col">Correct</th>
                        <th scope="col">Total</th>
                        <th scope="col">Percent</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for top in toppers %}
                        <tr>
                          <td class="text-primary fw-bold">{{ top.tag }}</td>
                          <td class="fw-bold" style="color: #2dab26">{{ top.correct }}</td>
                          <td class="fw-bold">{{ top.total }}</td>
                          <td>{{ top.percent }}%</td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>

                </div>

              </div>
            </div><!-- End Top Selling -->

          </div>
        </div><!-- End Left side columns -->

        <!-- Right side columns -->
        <div class="col-lg-4">

          <!-- Website Traffic -->
          <div class="card">
            <div class="card-body pb-0">
              <h5 class="card-title">Identifiers Practiced <span>| Today</span></h5>

              <div id="trafficChart" style="min-height: 400px;" class="echart"></div>

              <script>
                tagsrep = "{{ tagsrep|safe }}";
                tagsrep = tagsrep.replace(/'/g, '"');
                tagsrep = JSON.parse(tagsrep);
                rightio = [];
                
                if (tagsrep.length != 0) {
                  for (var i = 0; i < tagsrep.length; i++) {
                    rightio.push({value: tagsrep[i].total, name: tagsrep[i].tag})
                  }
                }
                else {
                  rightio.push({value: 0, name: "No Data"})
                }

                document.addEventListener("DOMContentLoaded", () => {
                  echarts.init(document.querySelector("#trafficChart")).setOption({
                    tooltip: {
                      trigger: 'item'
                    },
                    legend: {
                      top: '5%',
                      left: 'center'
                    },
                    series: [{
                      name: 'Access From',
                      type: 'pie',
                      radius: ['40%', '70%'],
                      avoidLabelOverlap: false,
                      label: {
                        show: false,
                        position: 'center'
                      },
                      emphasis: {
                        label: {
                          show: true,
                          fontSize: '18',
                          fontWeight: 'bold'
                        }
                      },
                      labelLine: {
                        show: false
                      },
                      data: rightio
                    }]
                  });
                });
              </script>

            </div>
          </div><!-- End Website Traffic -->
        </div><!-- End Right side columns -->

      </div>
      {% if trigger %}
        <button style="display: none;" id="amazingsubscribed" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#scrollingModal"></button>
        <div class="modal fade" id="scrollingModal" tabindex="-1">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Thank you for your support!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                Dear {{ request.user.first_name }},
                <br><br>
                Thank you for signing up for SpellNOW!&trade;. As a new user, you not only have full access to the SpellNOW&trade; platform for 30 days,
                but you are also supporting in sustaining our small company. We are grateful for your support and we hope you enjoy using our platform
                and will continue to remain a loyal customer of SpellNOW!&trade; in the future.
                <br><br>
                Sincerely,<br>
                <img width="30%" src="{% static 'spell/signature.png' %}"><br>
                <b>Lakshya Chauhan</b>
                <br>
                <i>CEO and Founder, SpellNOW!&trade;</i>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    </section>

  </main><!-- End #main -->

  {% if trigger %}
    <script>
      window.addEventListener('load', (event) => {
        document.getElementById('amazingsubscribed').click()
        gtag('event', 'sign_up', {
          'app_name': 'SpellNOW!',
          'screen_name': 'Dashboard',
        });
      });
    </script>
  {% endif %}
  <script>
    gtag('event', 'login', {
      'app_name': 'SpellNOW!',
      'screen_name': 'Dashboard',
    });
  </script>
{% endblock %}