{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-1NRJ0LJLL9"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-1NRJ0LJLL9');
</script>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>SpellNOW! -- Welcome</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <link href="{% static 'spell/favicon.jpg' %}" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'spell/login_reg/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'spell/login_reg/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'spell/login_reg/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'spell/login_reg/assets/vendor/quill/quill.snow.css' %}" rel="stylesheet">
  <link href="{% static 'spell/login_reg/assets/vendor/quill/quill.bubble.css' %}" rel="stylesheet">
  <link href="{% static 'spell/login_reg/assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'spell/login_reg/assets/vendor/simple-datatables/style.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'spell/login_reg/assets/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin - v2.2.2
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a class="logo d-flex align-items-center">
        <span class="d-none d-lg-block">SpellNOW!</span>
      </a>
    </div><!-- End Logo -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">
        <a href="/register"><button type="button" class="btn btn-primary" style="margin-right: 20px;">Sign Up!</button></a>
        <a href="/login"><button type="button" class="btn btn-secondary" style="margin-right: 20px;">Sign In</button></a>
      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->
  <main>
    <div class="container">
      <br<br><br><br>
      <section class="section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center">
        <img src="{% static 'spell/Banner_Logo.png' %}" class="img-fluid py-5">
        <a class="btn" href="/register" style="width: 20%; font-size: 20px; margin-bottom: 20px;">Sign Up!</a>
        <br><br>
        <div class="row" style="height: 20%;">
          <div class="col-lg-6">
  
            <div class="card" style="height: 90%;">
              <div class="card-body">
                <h5 class="card-title">Comprehensive Word Library</h5>
                <p>The SpellNOW! word library boasts more than 15,000+ words associated to over 200+ tags.</p>
              </div>
            </div>
  
          </div>
  
          <div class="col-lg-6">
  
            <div class="card" style="height: 90%;">
              <div class="card-body">
                <h5 class="card-title">Spelling and Vocabulary Practices</h5>
                <p>Our activity configuration tool ensures a balanced number of words from each tag. And our activity portal has been designed for optimal performance to provide word information with little to no lag time.</p>
              </div>
            </div>
  
          </div>

          <div class="col-lg-6">
  
            <div class="card" style="height: 90%;">
              <div class="card-body">
                <h5 class="card-title">Detailed Reporting</h5>
                <p>Our detailed reporting allows you to instantly see the results of your practices. Our reporting is so precise it allows you to see, not only what words you spelled incorrectly, but what you attempted to spell, what tag/root it was under, even the time it took to spell.</p>
              </div>
            </div>
  
          </div>

          <div class="col-lg-6">
  
            <div class="card" style="height: 90%;">
              <div class="card-body">
                <h5 class="card-title">Free Free Free</h5>
                <p>We are a group that is dedicated to improving spelling, vocabulary, and literacy education. As such our software is completely free and will have access to the full range of SpellNOW! services. Any bugs, performance issues, or suggestions will be fielded 24/7 by our support team at <a href="mailto:support@spellnow.org">support@spellnow.org</a>.</p>
              </div>
            </div>
  
          </div>
        </div>
        <br>
        <h2 style="font-size: 50px;">About Us</h2>
        <table>
          <tr>
            <td style="width:50%; vertical-align: top;">
              <div class="card-body">
                <p>We are a small business that wanted to revolutionize literacy education, specifically 
                  in spelling and vocabulary. After consulting with numerous educators and parents regarding 
                  what they want from literacy software, we designed a system which will allow students to 
                  practice key concept areas in literacy:</p>
                  <ul>
                    <li>Spelling</li>
                    <li>Vocabulary</li>
                    <li>Roots</li>
                  </ul>
              </div>
            </td>
            <td style="width:50%; vertical-align: top;">
              <div class="card-body">
                <p>"SpellNOW! started out as a project that would allow my sister to excel in spelling bees using an approach that differed from today's spelling software. After much trial and error, we have created a software that will be able to support students, teachers, and parents, in literacy education."
                <br><br>&emsp;&emsp;&emsp;&emsp;&emsp;- <b>CEO and Founder, Lakshya Chauhan</b></p>
              </div>
            </td>
          </tr>
        </table>
      </section>

    </div>
    <!-- ======= Footer ======= -->
  <footer id="footer" class="footer" style="margin-left: 0px;">
    <div class="icon" style="text-align:center;">
      <a href="https://twitter.com/SpellNOW"><i class="bx bxl-twitter" style="font-size: 30px;"></i></a>
      <a href="https://www.facebook.com/profile.php?id=100087124985929"><i class="bx bxl-facebook-circle" style="font-size: 30px;"></i></a>
      <a href="https://www.instagram.com/spellnow_org/"><i class="bx bxl-instagram-alt" style="font-size: 30px;"></i></a>
      <a href="https://www.linkedin.com/company/89199188/admin/"><i class="bx bxl-linkedin-square" style="font-size: 30px;"></i></a>
    </div>
    <br>
    <div class="copyright">
      &copy; Copyright <strong><span>SpellNOW!</span></strong>. All Rights Reserved.
    </div>
    <div style="text-align: center;">
      <a href="/terms">Terms of Service</a>
      <a href="/privacy">Privacy Policy</a>
    </div>
  </footer><!-- End Footer -->
  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'spell/login_reg/assets/vendor/apexcharts/apexcharts.min.js' %}"></script>
  <script src="{% static 'spell/login_reg/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'spell/login_reg/assets/vendor/chart.js/chart.min.js' %}"></script>
  <script src="{% static 'spell/login_reg/assets/vendor/echarts/echarts.min.js' %}"></script>
  <script src="{% static 'spell/login_reg/assets/vendor/quill/quill.min.js' %}"></script>
  <script src="{% static 'spell/login_reg/assets/vendor/simple-datatables/simple-datatables.js' %}"></script>
  <script src="{% static 'spell/login_reg/assets/vendor/tinymce/tinymce.min.js' %}"></script>
  <script src="{% static 'spell/login_reg/assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'spell/login_reg/assets/js/main.js' %}"></script>

</body>

</html>