{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9734563532611212"
     crossorigin="anonymous"></script>
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-1NRJ0LJLL9"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-1NRJ0LJLL9');
</script>
<script type="text/javascript">
  (function(c,a){if(!a.__SV){var b=window;try{var d,m,j,k=b.location,f=k.hash;d=function(a,b){return(m=a.match(RegExp(b+"=([^&]*)")))?m[1]:null};f&&d(f,"fpState")&&(j=JSON.parse(decodeURIComponent(d(f,"fpState"))),"fpeditor"===j.action&&(b.sessionStorage.setItem("_fpcehash",f),history.replaceState(j.desiredHash||"",c.title,k.pathname+k.search)))}catch(n){}var l,h;window.freshpaint=a;a._i=[];a.init=function(b,d,g){function c(b,i){var a=i.split(".");2==a.length&&(b=b[a[0]],i=a[1]);b[i]=function(){b.push([i].concat(Array.prototype.slice.call(arguments,
  0)))}}var e=a;"undefined"!==typeof g?e=a[g]=[]:g="freshpaint";e.people=e.people||[];e.toString=function(b){var a="freshpaint";"freshpaint"!==g&&(a+="."+g);b||(a+=" (stub)");return a};e.people.toString=function(){return e.toString(1)+".people (stub)"};l="disable time_event track track_pageview track_links track_forms track_with_groups add_group set_group remove_group register register_once alias unregister identify name_tag set_config reset opt_in_tracking opt_out_tracking has_opted_in_tracking has_opted_out_tracking clear_opt_in_out_tracking people.set people.set_once people.unset people.increment people.append people.union people.track_charge people.clear_charges people.delete_user people.remove people group page alias ready addEventProperties addInitialEventProperties removeEventProperty addPageviewProperties".split(" ");
  for(h=0;h<l.length;h++)c(e,l[h]);var f="set set_once union unset remove delete".split(" ");e.get_group=function(){function a(c){b[c]=function(){call2_args=arguments;call2=[c].concat(Array.prototype.slice.call(call2_args,0));e.push([d,call2])}}for(var b={},d=["get_group"].concat(Array.prototype.slice.call(arguments,0)),c=0;c<f.length;c++)a(f[c]);return b};a._i.push([b,d,g])};a.__SV=1.4;b=c.createElement("script");b.type="text/javascript";b.async=!0;b.src="undefined"!==typeof FRESHPAINT_CUSTOM_LIB_URL?
  FRESHPAINT_CUSTOM_LIB_URL:"//perfalytics.com/static/js/freshpaint.js";(d=c.getElementsByTagName("script")[0])?d.parentNode.insertBefore(b,d):c.head.appendChild(b)}})(document,window.freshpaint||[]);
  freshpaint.init("1975cbdc-2451-4209-a2a0-b0a940cc0494");
  freshpaint.page();
  </script>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{% block title %}{% endblock %}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'spell/favicon.jpg' %}" rel="icon">
  <link href="{% static 'spell/login_reg/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'spell/login_reg/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'spell/login_reg/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'spell/login_reg/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'spell/login_reg/assets/vendor/quill/quill.snow.css' %}" rel="stylesheet">
  <link href="{% static 'spell/login_reg/assets/vendor/quill/quill.bubble.css' %}" rel="stylesheet">
  <link href="{% static 'spell/login_reg/assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'spell/login_reg/assets/vendor/simple-datatables/style.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'spell/login_reg/assets/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin - v2.2.2
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="/" class="logo d-flex align-items-center">
        <img src="{% static 'spell/nobglogo.png' %}" alt="">
        <span class="d-none d-lg-block">SpellNOW!&trade;</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <span class="d-none d-md-block dropdown-toggle ps-2">{{ request.user.username }}</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>{{request.user.first_name}} {{ request.user.last_name }}</h6>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="/profile">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <a class="dropdown-item d-flex align-items-center" href="/logout">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a id="home" class="nav-link collapsed" href="/">
          <i class="bi bi-shop"></i>
          <span>Home</span>
        </a>
      </li><!-- End Dashboard Nav -->
      
      {% if user.is_staff %}
        <li class="nav-item">
          <a id="libraries" class="nav-link collapsed" data-bs-target="#libraries-components-nav" data-bs-toggle="collapse" href="#">
            <i class="bi bi-menu-button-wide"></i><span>Libraries</span><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul id="libraries-components-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
            <li>
              <a id="coolwords" href="/word_library">
                <i class="bi bi-circle"></i><span>Words</span>
              </a>
            </li>
            <li>
              <a id="taags" href="/tag_library">
                <i class="bi bi-circle"></i><span>Tags</span>
              </a>
            </li>
            <li>
              <a id="rootslib" href="/root_library">
                <i class="bi bi-circle"></i><span>Roots</span>
              </a>

              <a id="import" href="/word_import">
                <i class="bi bi-circle"></i><span>Import</span>
              </a>
            </li>
          </ul>
        </li><!-- End Components Nav -->
      {% endif %}
      
      {% if not question.parent %}
        <li class="nav-item">
          <a id="activities" class="nav-link collapsed" data-bs-target="#activities-components-nav" data-bs-toggle="collapse" href="#">
            <i class="bi bi-grid"></i><span>Activities</span><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul id="activities-components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <li>
              <a id="spellit" href="/start">
                <i class="bi bi-circle"></i><span>Spelling</span>
              </a>
            </li>
            <li>
              <a id="vocabit" href="/vocab_start">
                <i class="bi bi-circle"></i><span>Vocabulary</span>
              </a>
            </li>
          </ul>
        </li><!-- End Components Nav -->
      {% endif %}

      <li class="nav-item">
        <a id="fullreports" class="nav-link collapsed" data-bs-target="#fullreports-components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-bar-chart"></i><span>Reports</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="fullreports-components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a id="reports" href="/reports">
              <i class="bi bi-circle"></i><span>Activity Reports</span>
            </a>
          </li>
          <li>
            <a id="wordreports" href="/wordreports">
              <i class="bi bi-circle"></i><span>Word Report</span>
            </a>
          </li>
        </ul>
      </li><!-- End Components Nav -->

      <li class="nav-heading">Pages</li>
      <li class="nav-item">
        <a id="profilit" class="nav-link collapsed" href="/profile">
          <i class="bi bi-person"></i>
          <span>Profile</span>
        </a>
      </li>
      <li class="nav-item">
        <a id="contactus" class="nav-link collapsed" href="/contactrender">
          <i class="bi bi-envelope"></i>
          <span>Contact</span>
        </a>
      </li><!-- End Contact Page Nav -->

    </ul>

  </aside><!-- End Sidebar-->
  {% block function %}
  {% endblock %}
  
  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>SpellNOW!&trade;</span></strong>. All Rights Reserved
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'spell/login_reg/assets/vendor/apexcharts/apexcharts.min.js' %}"></script>
  <script src="{% static 'spell/login_reg/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'spell/login_reg/assets/vendor/chart.js/chart.min.js' %}"></script>
  <script src="{% static 'spell/login_reg/assets/vendor/echarts/echarts.min.js' %}"></script>
  <script src="{% static 'spell/login_reg/assets/vendor/quill/quill.min.js' %}"></script>
  <script src="{% static 'spell/login_reg/assets/vendor/simple-datatables/simple-datatables.js' %}"></script>
  <script src="{% static 'spell/login_reg/assets/vendor/tinymce/tinymce.min.js' %}"></script>
  <script src="{% static 'spell/login_reg/assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'spell/login_reg/assets/js/main.js' %}"></script>

</body>
<script>
  window.onload = function() {
    var bar = "{{ bar }}";
    var active = "{{ active }}";

    if (bar == "") {
      document.getElementById(active).classList.add("active");
      document.getElementById(active).classList.remove("collapsed");
    }
    else {
      document.getElementById(bar).classList.remove("collapsed");
      document.getElementById(bar + "-components-nav").classList.add("show");
      document.getElementById(active).classList.add("active");
    }
  };
</script>

</html>