{% extends "spell/layout.html" %}

{% block title %}SpellNOW! -- Configure Spelling Activity{% endblock %}

{% block function %}
  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Spelling Activity</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item">Activities</li>
          <li class="breadcrumb-item active">Spelling</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    
    <section class="section">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Configure Activity</h5>
              <p>Specify the tags to be used and the number of words and then hit "Start".</p>
              <form action="/spell" method="post">
                {% csrf_token %}
                <div class="row g-3">
                  <div class="col-md-4">
                    <label for="validationDefault04" class="form-label">Included tags (Ctrl + click):</label>
                    <div class="accordion" id="accordionExample">
                      {% for tag in tags %}
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#acc{{ tag.parent.id }}" aria-expanded="true" aria-controls="acc{{ tag.parent.id }}">
                              {{ tag.parent.name }}
                            </button>
                          </h2>
                          <div id="acc{{ tag.parent.id }}" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">  
                              <select style="width:100%;" class="form-select" id="validationDefault04" multiple name="query{{ tag.parent.id }}">
                                {% for childtag in tag.children %}
                                  {% if childtag.id != 240 %}
                                    <option value="{{ childtag.name }}">{{ childtag.name }}</option>
                                  {% endif %}
                                {% endfor %}
                              </select>
                            </div>
                          </div>
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                  <div class="col-md-4">
                    <label for="allrots" class="form-label">Included roots (Ctrl + click):</label>
                    <div class="accordion" id="rootExample">
                      {% for category in fun %}
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#acct{{ category.Ids }}" aria-expanded="true" aria-controls="acct{{ category.Ids }}">
                              {{ category.Root }}
                            </button>
                          </h2>
                          <div id="acct{{ category.Ids }}" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#rootExample">
                            <div class="accordion-body">  
                              <select style="width:100%;" class="form-select" id="validationDefault04" multiple name="acct{{ category.Ids }}">
                                {% for root in category.Go %}
                                  <option value="|--|{{ root.name }}">{{ root.name }}</option>
                                {% endfor %}
                              </select>
                            </div>
                          </div>
                        </div>
                      {% endfor %}
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#acctothers" aria-expanded="true" aria-controls="acctothers">
                            Other Roots
                          </button>
                        </h2>
                        <div id="acctothers" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#rootExample">
                          <div class="accordion-body">  
                            <select style="width:100%;" class="form-select" id="validationDefault04" multiple name="acctothers">
                              {% for root in others %}
                                <option value="|--|{{ root.name }}">{{ root.name }}</option>
                              {% endfor %}
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <label for="inputNumber" style="width: 100%;" class="col-sm-2 col-form-label">Number of words:</label>
                    <input type="number" name="numwords" class="form-control" value="{{ number }}">
                    <br>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="attn" id="gridRadios1" value="attemptednone">
                      <label class="form-check-label" for="gridRadios1">
                        Exclude words I have already attempted
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="untagged" id="gridRadios1" value="yes">
                      <label class="form-check-label" for="gridRadios1">
                        Include untagged words as well
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="unrooted" id="gridRadios1" value="yes">
                      <label class="form-check-label" for="gridRadios1">
                        Include words with no root as well
                      </label>
                    </div>
                    {% if message %}
                      <div style="display: block;" class="invalid-feedback">{{ message }}</div>
                    {% endif %}
                    <br>
                    <button class="btn btn-primary">Start</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main><!-- End #main -->
{% endblock %}