{% extends "spell/layout.html" %}

{% block title %}SpellNOW! -- Terms & Conditions{% endblock %}

{% block function %}
<main id="main" class="main">

  <div class="pagetitle">
    <h1>Terms and Conditions</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active">Terms and Conditions</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->


  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Terms and Conditions</h5>

            <p>Welcome to the SpellNOW! Terms and Conditions agreement. For purposes of this agreement, “Site” refers to
              the Company’s website, which can be accessed at <a href=”https://spellnow.org/”>https://spellnow.org/</a>.
              “Service” refers to the Company’s services accessed via the Site, in which users can access the SpellNOW!™
              word library, complete spelling and vocabulary activities, and access detailed reporting. The terms “we,”
              “us,” and “our” refer to the Company. “You” refers to you, as a user of our Site or our Service.</p>

            <p>The following Terms and Conditions apply when you view or use the Service via our website located at <a
                href=”https://spellnow.org/”>https://spellnow.org/</a>.</p>

            <p>Please review the following terms carefully. By accessing or using the Service, you signify your
              agreement to these Terms and Conditions. <b>If you do not agree to be bound by these Terms and Conditions
                in their entirety, you may not access or use the Service</b>.</p>

            <h5 class="card-title" style="font-weight: lighter;">PRIVACY POLICY</h5>

            <p>The Company respects the privacy of its Service users. Please refer to the Company’s Privacy Policy
              (found here: <a href=”https://spellnow.org/”>https://spellnow.org/privacy</a>) which explains how we
              collect, use, and disclose information that pertains to your privacy. When you access or use the Service,
              you signify your agreement to the Privacy Policy as well as these Terms and Conditions.</p>

            <h5 class="card-title" style="font-weight: lighter;">ABOUT THE SERVICE</h5>

            <p>The Service allows you to access the SpellNOW!™ word library, complete spelling and vocabulary
              activities, and access detailed reporting, for students, parents, and teachers.</p>

            <h5 class="card-title" style="font-weight: lighter;">REGISTRATION; RULES FOR USER CONDUCT AND USE OF THE SERVICE</h5>

            <p>If you are a user who signs up for the Service, you will create a personalized account which includes a
              unique username and a password to access the Service and to receive messages from the Company. You agree
              to notify us immediately of any unauthorized use of your password and/or account. The Company will not be
              responsible for any liabilities, losses, or damages arising out of the unauthorized use of your member
              name, password and/or account.</p>

            <h5 class="card-title" style="font-weight: lighter;">USE RESTRICTIONS</h5>

            <p>Your permission to use the Site is conditioned upon the following use restrictions:
              You agree that you will not under any circumstances:</p>
            <ul>
              <li>access the Service for any reason other than your personal, non-commercial use solely as permitted by
                the normal functionality of the Service,</li>
              <li>collect or harvest any personal data of any user of the Site or the Service </li>
              <li>use the Site or the Service for the solicitation of business in the course of trade or in connection
                with a commercial enterprise;</li>
              <li>distribute any part or parts of the Site or the Service without our explicit written permission (we
                grant the operators of public search engines permission to use spiders to copy materials from the site
                for the sole purpose of creating publicly-available searchable indices but retain the right to revoke
                this permission at any time on a general or specific basis);</li>
              <li>use the Service for any unlawful purpose or for the promotion of illegal activities;</li>
              <li>attempt to, or harass, abuse or harm another person or group;</li>
              <li>use another user’s account without permission;</li>
              <li>intentionally allow another user to access your account; </li>
              <li>provide false or inaccurate information when registering an account;</li>
              <li>interfere or attempt to interfere with the proper functioning of the Service;</li>
              <li>make any automated use of the Site, the Service or the related systems, or take any action that we
                deem to impose or to potentially impose an unreasonable or disproportionately large load on our servers
                or network infrastructure;</li>
              <li>bypass any robot exclusion headers or other measures we take to restrict access to the Service, or use
                any software, technology, or device to scrape, spider, or crawl the Service or harvest or manipulate
                data; or</li>
              <li>circumvent, disable or otherwise interfere with any security-related features of the Service or
                features that prevent or restrict use or copying of content, or enforce limitations on use of the
                Service or the content accessible via the Service;</li>
            </ul>

            <h5 class="card-title" style="font-weight: lighter;">LINKS TO OTHER SITES AND/OR MATERIALS</h5>

            <p>As part of the Service, we may provide you with convenient links to third party website(s) (“Third Party
              Sites”) as well as content or items belonging to or originating from third parties (the “Third Party
              Applications, Software or Content”). These links are provided as a courtesy to Service subscribers. We
              have no control over Third Party Sites or Third Party Applications, Software or Content or the promotions,
              materials, information, goods or services available on these Third Party Sites or Third Party
              Applications, Software or Content. Such Third Party Sites and Third Party Applications, Software or
              Content are not investigated, monitored or checked for accuracy, appropriateness, or completeness, and we
              are not responsible for any Third Party Sites accessed through the Site or any Third Party Applications,
              Software or Content posted on, available through or installed from the Site, including the content,
              accuracy, offensiveness, opinions, reliability, privacy practices or other policies of or contained in the
              Third Party Sites or the Third Party Applications, Software or Content. Inclusion of, linking to or
              permitting the use or installation of any Third Party Site or any Third Party Applications, Software or
              Content does not imply our approval or endorsement. If you decide to leave the Site and access the Third
              Party Sites or to use or install any Third Party Applications, Software or Content, you do so at your own
              risk and you should be aware that our terms and policies, including these Terms and Conditions, no longer
              govern. You should review the applicable terms and policies, including privacy and data gathering
              practices, of any Third Party Site to which you navigate from the Site or relating to any applications you
              use or install from the Third Party Site.</p>

            <h5 class="card-title" style="font-weight: lighter;">INTELLECTUAL PROPERTY</h5>

            <p>You acknowledge and agree that we and our licensors retain ownership of all intellectual property rights
              of any kind related to the Service, including applicable copyrights, trademarks and other proprietary
              rights. Other product and company names that are mentioned on the Service may be trademarks of their
              respective owners. We reserve all rights that are not expressly granted to you under these Terms and
              Conditions.</p>




            <h5 class="card-title" style="font-weight: lighter;">EMAIL MAY NOT BE USED TO PROVIDE NOTICE</h5>

            <p>Communications made through the Service’s email and messaging system will not constitute legal notice to
              the Site, the Service, or any of its officers, employees, agents or representatives in any situation where
              legal notice is required by contract or any law or regulation.</p>

            <h5 class="card-title" style="font-weight: lighter;">USER CONSENT TO RECEIVE COMMUNICATIONS IN ELECTRONIC FORM</h5>

            <p>For contractual purposes, you: (a) consent to receive communications from us in an electronic form via
              the email address you have submitted; and (b) agree that all Terms and Conditions, agreements, notices,
              disclosures, and other communications that we provide to you electronically satisfy any legal requirement
              that such communications would satisfy if it were in writing. The foregoing does not affect your
              non-waivable rights.</p>

            <p>We may also use your email address to send you other messages, including information about the Site or
              the Service and special offers. You may opt out of such email by changing your account settings, using the
              “Unsubscribe” link in the message, or by adjusting such settings on your user profile, available at <a
                href=”https://spellnow.org/”>https://spellnow.org/profile</a>. Opting out may prevent you from receiving
              messages regarding the Site, the Service or special offers.</p>

            <h5 class="card-title" style="font-weight: lighter;">WARRANTY DISCLAIMER</h5>

            <p>THE SERVICE IS PROVIDED “AS IS,” WITHOUT WARRANTY OF ANY KIND. WITHOUT LIMITING THE FOREGOING, WE
              EXPRESSLY DISCLAIM ALL WARRANTIES, WHETHER EXPRESS, IMPLIED OR STATUTORY, REGARDING THE SERVICE INCLUDING
              WITHOUT LIMITATION ANY WARRANTY OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, SECURITY,
              ACCURACY AND NON-INFRINGEMENT. WITHOUT LIMITING THE FOREGOING, WE MAKE NO WARRANTY OR REPRESENTATION THAT
              ACCESS TO OR OPERATION OF THE SERVICE WILL BE UNINTERRUPTED OR ERROR FREE. YOU ASSUME FULL RESPONSIBILITY
              AND RISK OF LOSS RESULTING FROM YOUR DOWNLOADING AND/OR USE OF FILES, INFORMATION, CONTENT OR OTHER
              MATERIAL OBTAINED FROM THE SERVICE. SOME JURISDICTIONS LIMIT OR DO NOT PERMIT DISCLAIMERS OF WARRANTY, SO
              THIS PROVISION MAY NOT APPLY TO YOU.</p>

            <h5 class="card-title" style="font-weight: lighter;">LIMITATION OF DAMAGES; RELEASE</h5>

            <p>TO THE EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT SHALL THE SITE, THE SERVICE, ITS AFFILIATES,
              DIRECTORS, OR EMPLOYEES, OR ITS LICENSORS OR PARTNERS, BE LIABLE TO YOU FOR ANY LOSS OF PROFITS, USE, OR
              DATA, OR FOR ANY INCIDENTAL, INDIRECT, SPECIAL, CONSEQUENTIAL OR EXEMPLARY DAMAGES, HOWEVER ARISING, THAT
              RESULT FROM: (A) YOUR USE OR INABILITY TO USE THE SERVICE; (B) THE SERVICE GENERALLY OR THE SOFTWARE OR
              SYSTEMS THAT MAKE THE SERVICE AVAILABLE; OR (C) ANY OTHER INTERACTIONS WITH USE OR WITH ANY OTHER USER OF
              THE SERVICE, WHETHER BASED ON WARRANTY, CONTRACT, TORT (INCLUDING NEGLIGENCE) OR ANY OTHER LEGAL THEORY,
              AND WHETHER OR NOT WE HAVE BEEN INFORMED OF THE POSSIBILITY OF SUCH DAMAGE, AND EVEN IF A REMEDY SET FORTH
              HEREIN IS FOUND TO HAVE FAILED OF ITS ESSENTIAL PURPOSE. SOME JURISDICTIONS LIMIT OR DO NOT PERMIT
              DISCLAIMERS OF LIABILITY, SO THIS PROVISION MAY NOT APPLY TO YOU.</p>

            <p>If you are a California resident using the Service, you may specifically waive California Civil Code
              &sect;1542, which says: “A general release does not extend to claims which the creditor does not know or
              suspect to exist in his favor at the time of executing the release, which if known by him must have
              materially affected his settlement with the debtor.”</p>

            <h5 class="card-title" style="font-weight: lighter;">MODIFICATION OF TERMS AND CONDITIONS</h5>

            <p>We can amend these Terms and Conditions at any time and will update these Terms and Conditions in the
              event of any such amendments. It is your sole responsibility to check the Site from time to time to view
              any such changes in this agreement. Your continued use of the Site or the Service signifies your agreement
              to our revisions to these Terms and Conditions. We will endeavor to notify you of material changes to the
              Terms by posting a notice on our homepage and/or sending an email to the email address you provided to us
              upon registration. For this additional reason, you should keep your contact and profile information
              current. Any changes to these Terms (other than as set forth in this paragraph) or waiver of our rights
              hereunder shall not be valid or effective except in a written agreement bearing the physical signature of
              one of our officers. No purported waiver or modification of this agreement on our part via telephonic or
              email communications shall be valid.</p>

            <h5 class="card-title" style="font-weight: lighter;">GENERAL TERMS</h5>

            <p>If any part of this Terms and Conditions agreement is held or found to be invalid or unenforceable, that
              portion of the agreement will be construed as to be consistent with applicable law while the remaining
              portions of the agreement will remain in full force and effect. Any failure on our part to enforce any
              provision of this agreement will not be considered a waiver of our right to enforce such provision. Our
              rights under this agreement survive any transfer or termination of this agreement.</p>

            <p>You agree that any cause of action related to or arising out of your relationship with the Company must
              commence within ONE year after the cause of action accrues. Otherwise, such cause of action is permanently
              barred.</p>

            <p>These Terms and Conditions and your use of the Site are governed by the federal laws of the United States
              of America and the laws of the State of New Jersey, without regard to conflict of law provisions.</p>

            <p>We may assign or delegate these Terms of Service and/or our Privacy Policy, in whole or in part, to any
              person or entity at any time with or without your consent. You may not assign or delegate any rights or
              obligations under the Terms of Service or Privacy Policy without our prior written consent, and any
              unauthorized assignment or delegation by you is void.</p>

            <p>YOU ACKNOWLEDGE THAT YOU HAVE READ THESE TERMS AND CONDITIONS, UNDERSTAND THE TERMS AND CONDITIONS, AND
              WILL BE BOUND BY THESE TERMS AND CONDITIONS. YOU FURTHER ACKNOWLEDGE THAT THESE TERMS AND CONDITIONS
              TOGETHER WITH THE PRIVACY POLICY AT <a href=”https://spellnow.org/”>https://spellnow.org/privacy</a>
              REPRESENT THE COMPLETE AND EXCLUSIVE STATEMENT OF THE AGREEMENT BETWEEN US AND THAT IT SUPERSEDES ANY
              PROPOSAL OR PRIOR AGREEMENT ORAL OR WRITTEN, AND ANY OTHER COMMUNICATIONS BETWEEN US RELATING TO THE
              SUBJECT MATTER OF THIS AGREEMENT.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main><!-- End #main -->
{% endblock %}