{% extends "spell/layout.html" %}

{% block title %}SpellNOW! -- Word Report{% endblock %}

{% block function %}
  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Word Report</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item">Reports</li>
          <li class="breadcrumb-item active">Word Report</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    
    <section class="section">
      {% if children %}
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Select Student</h5>

            <!-- Pills Tabs -->
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
              {% for child in children %}
                <li class="nav-item" role="presentation">
                  <form action="/wordreports" method="post">
                    {% csrf_token %}
                    <input style="display: none;" name="child" value="{{ child.id }}">
                    <button class="nav-link" id="pills-home-tab-{{ child.id }}" data-bs-toggle="pill" data-bs-target="#pills-home" type="submit" role="tab" aria-controls="pills-home" aria-selected="true">{{ child.first_name }} {{ child.last_name }}</button>
                  </form>
                </li>
              {% endfor %}
            </ul>

          </div>
        </div>
      {% endif %}
      {% if ready %}
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Word Report</h5>
                <p>The following report populates all words attempted by a student <i>in a spelling activity</i>. Each 'check' and 'cross' symbol indicates each
                  attempt the student made. The 'check' symbol indicates the student correctly spelled the word. The 'cross' symbol indicates
                  the student incorrectly spelled the word. You can even filter words by tags using the function below.</p>
                <div style="width: 100%;" class="row g-3">
                  <div style="width: 50%;" class="col-md-4">
                    <div style="width: 100%; height: 50px;" class="row g-3">
                      <button style="margin-left: 50%; transform: translateX(-50%); width:30%;" class="btn btn-primary" id="starter" onclick="startprocess();">Load Words</button>
                      <div id="loadingblock" style="display: none;">
                        <button style="margin-left: 50%; transform: translateX(-50%); width:30%;" class="btn btn-primary" type="button" disabled>
                          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                          Loading...
                        </button>
                        <br><br>
                        <p style="text-align: center;"><i>This may take a few moments...Do <b>NOT</b> close this window...</i></p>
                      </div>
                    </div>
                    <div style="width: 100%; height: 500px; overflow: scroll;" class="row g-3" id="tablegoeshere">
                    </div>
                  </div>
                  <div style="width: 50%;" class="col-md-4">
                    <div style="width: 100%;" class="row g-3">
                      <div style="width: 100%;" class="col-md-4">
                        <div class="form-floating mb-3">
                          <input type="text" class="form-control" id="search_tags" spellcheck="false" autocomplete="off" name="search" placeholder="Search...">
                          <label for="search_tags">Search Tags</label>
                        </div>
                      </div>
                    </div>
                    <form action="/wordreports" method="post">
                      {% csrf_token %}
                      <select style="height: 200px;" name="tags_request" class="form-select" multiple>
                        {% for tag in tags %}
                          <option id="Tag - {{ tag.name }}" value="{{ tag.name }}">{{ tag.name }}</option>
                        {% endfor %}
                      </select>
                      <br>
                      <input style="display: none;" name="child" value="{{ child }}">
                      <button style="margin-left: 50%; transform: translateX(-50%);" class="btn btn-primary">Filter</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    </section>
  </main><!-- End #main -->

  <script>
    totals = "{{ totals|safe }}";
    totals = totals.replace(/'/g, '"');
    totals = totals.replace("\n", '');
    const total = JSON.parse(totals).sort()
    alldet = "{{ alldets|safe }}";
    alldet = alldet.replace(/'/g, '"');
    alldet = alldet.replace("\n", '');
    const alldets = JSON.parse(alldet);
    allre = "{{ allres|safe }}";
    allre = allre.replace(/'/g, '"');
    allre = allre.replace("\n", '');
    const allres = JSON.parse(allre);
    tags_requests = "{{ tags_request|safe }}";
    tags_requests = tags_requests.replace(/'/g, '"');
    if (tags_requests == "") {
      tags_requests = "[]";
    }
    const tags_request = JSON.parse(tags_requests);

    const chunkSize = 10; // adjust chunk size as needed

function resolveAfter2Seconds() {
  return new Promise(resolve => {
    setTimeout(() => {
      resolve('resolved');
    }, 2000);
  });
}

async function startprocess() {
  document.getElementById("starter").style.display = "none";
  document.getElementById("loadingblock").style.display = "block";
  await resolveAfter2Seconds();
  loadwords();
}

function loadwords() {
  var full = '<table class="table"><thead><tr><th scope="col">Word</th></tr></thead><tbody id="bodyoftable">';
  k = 0;
  for (i = 0; i < total.length; i += chunkSize) {
    // create a chunk of the total array with the current chunk size
    var chunk = total.slice(i, i + chunkSize);
    // loop through the chunk and add the rows to the table
    for (j = 0; j < chunk.length; j++) {
      full += "<tr><td scope=\"row\">" + chunk[j] + "</td>";
      var index = alldets.indexOf(chunk[j]);
      while (alldets.indexOf(chunk[j]) != -1) {
        index = alldets.indexOf(chunk[j]);
        if (allres[index] == "CORRECT") {
          full += "<td>&check;</td>";
        }
        else {
          full += "<td>&cross;</td>";
        }
        alldets.splice(index, 1);
        allres.splice(index, 1);
      }
      full += "</tr>";
    }
  }
  full += "</tbody></table>";
  document.getElementById("tablegoeshere").innerHTML = full;
  document.getElementById("loadingblock").style.display = "none";
};

    window.addEventListener('load', (event) => {
  for (i = 0; i < tags_request.length; i++) {
    document.getElementById(tags_request[i]).selected = true;
  }
    });

    var g_alltags = "{{ alltags }}";
    const alltags = g_alltags.split("*..*");
    alltags.pop();
    var filt = [];

    document.addEventListener("keyup", function(event) {
        if (document.activeElement.id == "search_tags") {
            for(var i = 0; i < alltags.length; i++) {
                if (!((alltags[i].toLowerCase()).startsWith(document.getElementById("search_tags").value.toLowerCase()))) {
                    document.getElementById("Tag - " + alltags[i]).style.display = "none";
                }
                else {
                    document.getElementById("Tag - " + alltags[i]).style.display = "block";
                }
            }
        }
    });

    window.addEventListener('load', (event) => {
      var child = "pills-home-tab-{{ child }}";
      document.getElementById(child).classList.add("active");
    });
  </script>
{% endblock %}